@media (min-width: 480px) {
  .content-text .text-box {
    padding: 3vh 160px; } }
@media (min-width: 768px) {
  .container {
    width: 68%; }

  .body-content {
    padding: 8vh 0; }

  .nav {
    margin: auto;
    display: table;
    float: none; }
    .nav .search-icon {
      position: relative;
      bottom: 10px; }
    .nav #demo-2 input[type=search]:focus {
      width: 70px; }

  .navbar {
    padding-bottom: 0;
    padding-top: 2vh;
    margin: auto; }

  .nav > li {
    margin: 0 2vw; }
    .nav > li a {
      padding: 0; }

  .img--magniglass {
    width: 20%; }

  .navbar-brand {
    margin-bottom: 2vh;
    margin-left: 0 !important; }

  .navbar-header {
    width: 100%; }
    .navbar-header .navbar-brand {
      width: 100%; }
    .navbar-header img {
      width: 31%;
      margin: auto; }

  .about-us__banner {
    padding: 84px 0; }
    .about-us__banner h3 {
      margin-top: 1.5rem; }

  .index-heading {
    margin-bottom: 6vh; }
    .index-heading h3 {
      margin-bottom: 5vh; }

  .quote-text {
    margin-bottom: 25px; }

  .quote-heading {
    margin-bottom: 34px; }

  .quote-text:after {
    left: 48%; }

  .content-text .icon-box .icon {
    width: 100px; }
  .content-text .icon-box:last-child {
    margin-bottom: 0px; }

  footer .social-icons > a img {
    margin: 2vh 0;
    margin-right: 4px; }
  footer .contact-details img {
    margin: 1.3vh 2vw; } }
@media (min-width: 1024px) {
  .container {
    width: 70%; }

  .quote-text:after {
    left: 43%;
    width: 179px; }

  .index-heading {
    margin-bottom: 4vh; }
    .index-heading h3 {
      margin-bottom: 3vh; }

  .nav > li {
    margin: 0 3vw; }

  .content-text {
    padding: 0; }
    .content-text .icon-box .text-box {
      padding: 0 50px;
      padding-top: 30px; }

  footer p {
    padding: 0; }
  footer .contact-details .contact-detail {
    margin-bottom: 12px; }
    footer .contact-details .contact-detail img {
      margin: 0;
      margin-right: 12px; }
  footer .page-content .content-text {
    text-align: left; }
    footer .page-content .content-text p {
      line-height: 16px; }
  footer .page-content .about-links {
    text-align: right; }

  .footer-content {
    padding: 50px;
    padding-bottom: 20px; } }
@media (min-width: 1440px) {
  html, body {
    font-size: 12px; }

  .container {
    width: 65%; }

  .about-us__banner {
    padding: 105px 0; }

  .quote-text:after {
    left: 43%;
    width: 224px; }

  .footer-content {
    padding: 50px 197px;
    padding-bottom: 20px; }

  .navbar-header {
    margin: 20px 0; }
    .navbar-header img {
      width: 21%; }

  footer .footer__logo {
    width: 303px; } }
@media (min-width: 2560px) {
  html, body {
    font-size: 17px; }

  .about-us__banner {
    padding: 135px 0; }

  .content-text p {
    line-height: 40px; }

  footer .footer__logo {
    width: 500px; }

  footer .page-content .content-text p {
    line-height: 25px; }

  footer .social-icons > a img {
    width: 40px; }

  .content-text .icon-box .icon {
    width: 130px; } }

/*# sourceMappingURL=responsive.css.map */