@media (min-width: 480px) {
  .content-text .text-box {
    padding: 3vh 160px; }

  .text-block .content-text {
    padding: 0 55px; } }
@media (min-width: 768px) {
  .container {
    width: 68%; }

  #custom-container {
    width: 68%; }

  #custom-container-1 {
    width: 68%; }

  #custom-form-container {
    width: 68%;
    margin: auto; }

  .body-content {
    padding: 8vh 0; }

  .nav {
    margin: auto;
    display: table;
    float: none; }
    .nav .search-icon {
      position: relative;
      bottom: 10px; }
    .nav #demo-2 input[type=search]:focus {
      width: 70px; }

  .navbar {
    padding-bottom: 0;
    padding-top: 2vh;
    margin: auto; }

  .nav > li {
    margin: 0 2vw; }
    .nav > li a {
      padding: 0; }

  .img--magniglass {
    width: 20%; }

  .navbar-brand {
    margin-bottom: 2vh;
    margin-left: 0 !important; }

  .navbar-header {
    width: 100%; }
    .navbar-header .navbar-brand {
      width: 100%; }
    .navbar-header img {
      width: 31%;
      margin: auto; }

  .banner {
    padding: 84px 0; }
    .banner h3 {
      margin-top: 1.5rem; }

  .index-heading {
    margin-bottom: 6vh; }
    .index-heading h3 {
      margin-bottom: 5vh; }

  .quote-text {
    margin-bottom: 25px; }

  .quote-heading {
    margin-bottom: 34px; }

  .quote-text:after {
    left: 48%; }

  .content-text .icon-box .icon {
    width: 100px; }
  .content-text .icon-box:last-child {
    margin-bottom: 0px; }

  .form-group {
    margin-bottom: 40px; }

  .form-control {
    margin-top: 10px; }

  .fixed-box {
    width: 617px;
    margin: auto; }

  .lawyer-box {
    width: 306px; }

  .dark-overlay::after {
    width: 94.5%; }

  footer .social-icons > a img {
    margin: 2vh 0;
    margin-right: 4px; }
  footer .contact-details img {
    margin: 1.3vh 2vw; } }
@media (min-width: 992px) {
  .container {
    width: 70%; }

  #custom-container {
    width: 100%; }

  #custom-form-container {
    width: 500px;
    margin: auto; }

  .banner {
    padding: 100px 0; }

  .quote-text:after {
    left: 43%;
    width: 179px; }

  .index-heading {
    margin-bottom: 4vh; }
    .index-heading h3 {
      margin-bottom: 3vh; }

  .nav > li {
    margin: 0 3vw; }

  .text-block .content-text {
    padding: 0 30px; }

  .content-text {
    margin-bottom: 0;
    padding: 0; }
    .content-text .icon-box .text-box {
      padding: 0 50px;
      padding-top: 30px; }

  .bg-image__careers {
    background-position: 34% 17%;
    background-size: cover; }

  .form-group {
    margin-bottom: 58px; }

  .form-group {
    margin-bottom: 35px; }

  .form-control {
    margin-top: 5px; }

  .bg-image__newsletter {
    padding: 16vh 20px; }
    .bg-image__newsletter h1 {
      margin-bottom: 20px; }
    .bg-image__newsletter h3 {
      margin-bottom: 80px; }

  .email {
    padding-left: 20px;
    text-align: left !important; }

  .email::-webkit-input-placeholder {
    text-align: left; }

  .email:-ms-input-placeholder {
    text-align: left; }

  .email::-ms-input-placeholder {
    text-align: left; }

  .email::placeholder {
    text-align: left; }

  .fixed-box {
    width: 924px;
    margin: auto; }

  footer p {
    padding: 0; }
  footer .contact-details .contact-detail {
    margin-bottom: 12px; }
    footer .contact-details .contact-detail img {
      margin: 0;
      margin-right: 12px; }
  footer .page-content .content-text {
    text-align: left; }
    footer .page-content .content-text p {
      line-height: 19px; }
  footer .page-content .about-links {
    text-align: right; }

  .footer-content {
    padding: 50px;
    padding-bottom: 20px; } }
@media (min-width: 1440px) {
  html, body {
    font-size: 12px; }

  .container {
    width: 65%; }

  #custom-container-1 {
    width: 87%; }

  .banner {
    padding: 130px 0; }

  .quote-text:after {
    left: 43%;
    width: 224px; }

  .footer-content {
    padding: 50px 197px;
    padding-bottom: 20px; }

  .navbar-header {
    margin: 20px 0; }
    .navbar-header img {
      width: 21%; }

  .text-block .content-text {
    padding: 0 111px; }

  input[type=search] {
    background: #ededed url(../img/misc/Asset-11.png) no-repeat 12px center; }

  #demo-2 input[type=search]:focus {
    padding-left: 40px; }

  #demo-2 input[type=search] {
    width: 28px; }

  .form-group {
    margin-bottom: 35px; }

  .form-control {
    margin-top: 15px; }

  .custom-xxl-container {
    width: 80%;
    margin: auto; }

  .bg-image__newsletter form input {
    height: 62px; }

  .bg-image__newsletter h1 {
    margin-bottom: 31px; }

  .bg-image__newsletter form input {
    height: 50px; }

  .email {
    font-size: 1.6rem !important; }

  .email::-webkit-input-placeholder {
    font-size: 1.6rem; }

  .email:-ms-input-placeholder {
    font-size: 1.6rem; }

  .email::-ms-input-placeholder {
    font-size: 1.6rem; }

  .email::placeholder {
    font-size: 1.6rem; }

  .fixed-box {
    width: 1300px;
    margin: auto; }

  .lawyer-box {
    width: 433px; }

  .lawyer-img {
    width: 410px; }

  footer .footer__logo {
    width: 303px; } }
@media (min-width: 2560px) {
  html, body {
    font-size: 17px; }

  .text-block .content-text {
    padding: 0 218px; }

  #custom-form-container {
    width: 800px;
    margin: auto; }

  .form-group {
    margin-bottom: 40px; }

  .form-control {
    margin-top: 30px; }

  #demo-2 input[type=search] {
    width: 39px; }

  input[type=search] {
    background: #ededed url(../img/misc/Asset-11.png) no-repeat 18px center; }

  #demo-2 input[type=search]:focus {
    padding-left: 50px; }

  #demo-2 {
    position: relative;
    bottom: 10px;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

  .banner {
    padding: 170px 0; }

  .content-text p {
    line-height: 40px; }

  .form-group {
    margin-bottom: 80px; }

  footer .footer__logo {
    width: 500px; }

  footer .page-content .content-text p {
    line-height: 25px; }

  footer .social-icons > a img {
    width: 40px; }

  .content-text .icon-box .icon {
    width: 130px; }

  footer .contact-details img {
    max-width: 24px; }

  footer .contact-details {
    margin-bottom: 10px; }
    footer .contact-details .contact-detail {
      margin-bottom: 16px; }

  .custom-xxl-container {
    width: 80%;
    margin: auto; }

  .bg-image__newsletter form input {
    height: 62px; }

  .bg-image__newsletter h1 {
    margin-bottom: 31px; } }

/*# sourceMappingURL=responsive.css.map */