@media (min-width: 480px) {
  .content-text {
    .text-box {
      padding: 3vh 160px;
    }
  }
}
@media (min-width: 768px) {
  .container {
    width: 68%;
  }

  .body-content {
    padding: 8vh 0;
  }

  .nav {
    margin: auto;
    display: table;
    float: none;

    .search-icon {
      position: relative;
      bottom: 10px;
    }

    #demo-2 input[type=search]:focus {
      width: 70px;
    }
  }

  .navbar {
    padding-bottom: 0;
    padding-top: 2vh;
    margin: auto;
  }

  .nav > li {
    margin: 0 2vw;

    & a {
      padding: 0;
    }
  }

  .img--magniglass {
    width: 20%;
  }

  .navbar-brand {
    margin-bottom: 2vh;
    margin-left: 0 !important;
  }

  .navbar-header {
    width: 100%;

    .navbar-brand {
      width: 100%;
    }

    img {
      width: 31%;
      margin: auto;
    }
  }

  .about-us__banner {
    padding: 84px 0;

    h3 {
      margin-top: 1.5rem;
    }
  }

  .index-heading {
    margin-bottom: 6vh;

    h3 {
      margin-bottom: 5vh;
    }
  }

  .quote-text {
    margin-bottom: 25px;
  }

  .quote-heading {
    margin-bottom: 34px;
  }

  .quote-text:after {
    left: 48%;
  }

  .content-text {
    .icon-box {
      .icon {
        width: 100px;
      }

      .text-box {

      }
    }

    .icon-box:last-child {
      margin-bottom: 0px;
    }
  }

  footer {
    .social-icons > a img {
      margin: 2vh 0;
      margin-right: 4px;
    }

    .contact-details {
      img {
        margin: 1.3vh 2vw;
      }
    }
  }
}
@media (min-width: 1024px) {
  .container {
    width: 70%;
  }
  .about-us__banner {
    padding: 100px 0;
  }

  .quote-text:after {
    left: 43%;
    width: 179px;
  }

  .index-heading {
    margin-bottom: 4vh;

    h3 {
      margin-bottom: 3vh;
    }
  }

  .nav > li {
    margin: 0 3vw;
  }

  .content-text {
    padding: 0;
    .icon-box {
      .text-box {
        padding: 0 50px;
        padding-top: 30px;
      }
    }
  }

  footer {
    p {
      padding: 0;
    }
    .contact-details {
      .contact-detail {
        margin-bottom: 12px;
        img {
          margin: 0;
          margin-right: 12px;
        }
      }
    }
    .page-content {
      .content-text {
        text-align: left;
        p {
          line-height: 19px;
        }
      }
      .about-links {
        text-align: right;
      }
    }
  }
  .footer-content {
    padding: 50px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  html,body {
    font-size: 12px;
  }

  .container {
    width: 65%;
  }

  .about-us__banner {
    padding: 130px 0;
  }

  .quote-text:after {
    left: 43%;
    width: 224px;
  }

  .footer-content {
    padding: 50px 197px;
    padding-bottom: 20px;
  }

  .navbar-header {
    margin: 20px 0;
    img {
      width: 21%;
    }
  }

  input[type=search] {
    background: #ededed url(../img/Asset-11.png) no-repeat 12px center;
  }
  #demo-2 input[type=search]:focus {
    padding-left: 40px;
  }

  #demo-2 input[type=search] {
    width: 28px;
  }

  footer .footer__logo {
    width: 303px;
  }
}
@media (min-width: 2560px) {
  html,body {
    font-size: 17px;
  }

  #demo-2 input[type=search] {
    width: 39px;
  }

  input[type=search] {
    background: #ededed url(../img/Asset-11.png) no-repeat 18px center;
  }

  #demo-2 input[type=search]:focus {
    padding-left: 50px;
  }

  #demo-2 {
    position: relative;
    bottom: 10px;
    transform: scale(1.2);
  }

  .about-us__banner {
    padding: 170px 0;
  }

  .content-text {
    p {
      line-height: 40px;
    }
  }

  footer .footer__logo {
    width: 500px;
  }

  footer .page-content .content-text p {
    line-height: 25px;
  }
  footer .social-icons > a img {
    width: 40px;
  }
  .content-text .icon-box .icon {
    width: 130px;
  }

  footer .contact-details img {
    max-width: 24px;
  }

  footer .contact-details {
    margin-bottom: 10px;

    .contact-detail {
      margin-bottom: 16px;
    }
  }
}
