@media (min-width: 375px) {
  .our-team h3 {
    padding: 0 80px;
    line-height: 20px; } }
@media (min-width: 425px) {
  .our-team h3 {
    padding: 0 100px;
    line-height: 20px; }

  .lawyer-img--solo {
    width: 300px; } }
@media (min-width: 480px) {
  .content-text .text-box {
    padding: 3vh 160px; }

  .text-block .content-text {
    padding: 0 55px; } }
@media (min-width: 768px) {
  .container {
    width: 68%; }

  #custom-container {
    width: 68%; }

  #custom-container-1 {
    width: 68%; }

  #custom-form-container {
    width: 68%;
    margin: auto; }

  .body-content {
    padding: 8vh 0; }

  .nav {
    margin: auto;
    display: table;
    float: none; }
    .nav .search-icon {
      position: relative;
      bottom: 10px; }
    .nav #demo-2 input[type=search] {
      margin-top: 0; }

  .navbar {
    padding-bottom: 0;
    padding-top: 2vh;
    margin: auto; }

  .nav > li {
    margin: 0 2vw; }
    .nav > li a {
      padding: 0; }

  .img--magniglass {
    width: 20%; }

  .navbar-brand {
    margin-bottom: 2vh;
    margin-left: 0 !important; }

  .navbar-header {
    width: 100%; }
    .navbar-header .navbar-brand {
      width: 100%; }
    .navbar-header img {
      width: 31%;
      margin: auto; }

  .banner {
    padding: 84px 0; }
    .banner h3 {
      margin-top: 1.5rem; }

  .index-heading {
    margin-bottom: 6vh; }
    .index-heading h3 {
      margin-bottom: 5vh; }

  .quote-text {
    margin-bottom: 25px; }

  .quote-heading {
    margin-bottom: 34px; }

  .quote-text:after {
    left: 48%; }

  .content-text .icon-box .icon {
    width: 100px; }
  .content-text .icon-box:last-child {
    margin-bottom: 0px; }

  .form-group {
    margin-bottom: 40px; }

  .form-control {
    margin-top: 10px; }

  .fixed-box {
    width: 617px;
    margin: auto; }

  .lawyer-box {
    width: 306px; }

  .dark-overlay::after {
    width: 94.5%; }

  .page-sub-content::before {
    left: 13%;
    width: 74%; }

  footer .social-icons > a img {
    margin: 2vh 0;
    margin-right: 4px; }
  footer .contact-details img {
    margin: 1.3vh 2vw; } }
@media (min-width: 992px) {
  .container {
    width: 70%; }

  #custom-container {
    width: 100%; }

  #custom-form-container {
    width: 500px;
    margin: auto; }

  .text-md-left {
    text-align: left !important; }

  .text-md-right {
    text-align: right !important; }

  .p-md-top-0 {
    padding-top: 0; }

  .p-md-left-0 {
    padding-left: 0; }

  .float-md-left {
    float: left; }

  .banner {
    padding: 100px 0; }

  .quote-text:after {
    left: 43%;
    width: 179px; }

  .index-heading {
    margin-bottom: 4vh; }
    .index-heading h3 {
      margin-bottom: 3vh; }

  .nav > li {
    margin: 0 3vw; }

  .text-block .content-text {
    padding: 0 30px; }

  .content-text {
    margin-bottom: 0;
    padding: 0; }
    .content-text .icon-box .text-box {
      padding: 0 50px;
      padding-top: 30px; }

  .bg-image__careers {
    background-position: 34% 17%;
    background-size: cover; }

  .form-group {
    margin-bottom: 58px; }

  .form-group {
    margin-bottom: 35px; }

  .form-control {
    margin-top: 5px; }

  .bg-image__newsletter {
    padding: 16vh 20px; }
    .bg-image__newsletter h1 {
      margin-bottom: 20px; }
    .bg-image__newsletter h3 {
      margin-bottom: 80px; }

  .email {
    padding-left: 20px;
    text-align: left !important; }

  .email::placeholder {
    text-align: left; }

  .fixed-box {
    width: 960px;
    margin: auto; }

  .dark-overlay:after {
    opacity: 0; }

  .dark-overlay:hover:after {
    opacity: 1; }

  .lawyer-box .caption {
    display: none; }

  .lawyer-img--solo {
    width: 100%; }

  .icon-box__contact-us {
    position: relative;
    bottom: 0px; }

  .carousel-container::before {
    display: none; }

  .line::before {
    content: " ";
    position: relative;
    display: block;
    bottom: 110px;
    left: 34px;
    width: 100%;
    height: 1px;
    margin-left: -35px;
    background: #BCBBBB; }

  .box {
    margin-right: 0; }

  footer p {
    padding: 0; }
  footer .contact-details .contact-detail {
    margin-bottom: 12px; }
    footer .contact-details .contact-detail img {
      margin: 0;
      margin-right: 12px; }
  footer .page-content .content-text {
    text-align: left; }
    footer .page-content .content-text p {
      line-height: 19px; }
  footer .page-content .about-links {
    text-align: right; }

  .footer-content {
    padding: 50px;
    padding-bottom: 20px; } }
@media (min-width: 1200px) {
  .p-md-left-15 {
    padding-left: 15px; } }
@media (min-width: 1440px) {
  html, body {
    font-size: 12px; }

  .container {
    width: 65%; }

  #custom-container-1 {
    width: 87%; }

  .banner {
    padding: 130px 0; }

  .quote-text:after {
    left: 43%;
    width: 224px; }

  .footer-content {
    padding: 50px 197px;
    padding-bottom: 20px; }

  .navbar-header {
    margin: 20px 0; }
    .navbar-header img {
      width: 21%; }

  .text-block .content-text {
    padding: 0 111px; }

  input[type=search] {
    background: #ededed url(../img/misc/Asset-11.png) no-repeat 12px center; }

  #demo-2 input[type=search]:focus {
    padding-left: 40px; }

  .form-group {
    margin-bottom: 35px; }

  .form-control {
    margin-top: 15px; }

  .custom-xxl-container {
    width: 80%;
    margin: auto; }

  .bg-image__newsletter form input {
    height: 62px; }

  .bg-image__newsletter h1 {
    margin-bottom: 31px; }

  .bg-image__newsletter form input {
    height: 50px; }

  .email {
    font-size: 1.6rem !important; }

  .email::placeholder {
    font-size: 1.6rem; }

  .fixed-box {
    width: 1300px;
    margin: auto; }

  .lawyer-box {
    width: 433px; }

  .lawyer-img {
    width: 410px; }

  .lawyer-box .caption {
    width: 410px;
    top: 45%; }

  .icon-box__contact-us .contact-details img {
    max-width: 24px; }

  .page-sub-content::before {
    left: 16%;
    width: 67%; }

  .box {
    background-color: #BB804C;
    padding: 105px 0;
    max-width: 370px; }

  footer .footer__logo {
    width: 303px; } }
@media (min-width: 2560px) {
  html, body {
    font-size: 17px; }

  .text-block .content-text {
    padding: 0 218px; }

  #custom-form-container {
    width: 800px;
    margin: auto; }

  .form-group {
    margin-bottom: 40px; }

  .form-control {
    margin-top: 30px; }

  .box {
    max-width: 540px;
    padding: 119px 0; }

  .text-block ul li {
    line-height: 40px; }

  input[type=search] {
    background: #ededed url(../img/misc/Asset-11.png) no-repeat 18px center; }

  #demo-2 input[type=search]:focus {
    padding-left: 50px; }

  #demo-2 {
    position: relative;
    bottom: 10px;
    transform: scale(1.2); }

  .banner {
    padding: 170px 0; }

  .content-text p {
    line-height: 40px; }

  .form-group {
    margin-bottom: 80px; }

  footer .footer__logo {
    width: 500px; }

  footer .page-content .content-text p {
    line-height: 25px; }

  footer .social-icons > a img {
    width: 40px; }

  .content-text .icon-box .icon {
    width: 130px; }

  footer .contact-details img {
    max-width: 24px; }

  footer .contact-details {
    margin-bottom: 10px; }
    footer .contact-details .contact-detail {
      margin-bottom: 16px; }

  .custom-xxl-container {
    width: 80%;
    margin: auto; }

  .bg-image__newsletter form input {
    height: 62px; }

  .bg-image__newsletter h1 {
    margin-bottom: 31px; } }

/*# sourceMappingURL=responsive.css.map */
